.container{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    border: 3px solid lightgrey;
    background-color: lightgrey;
}
.container div{
    border: none ;
    background-color: lightgrey;
}    
.item{
    height: 30px;
    width: 80px;
    text-align: center;
    justify-content: center;
    padding: 10px 0 0 0;
    margin: 5px;
}
.item a{
    display: block;
    height: 30px;
}